.nodes-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.node-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.icon {
  margin: 0 5px;
}

.node-item:hover {
  background-color: #e0e0e0;
}

.back-button {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.back-button svg {
  margin-right: 5px;
}
